# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
 
# Exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes Hidden files in Mac Directories
.DS_Store
 
# Exclude Text Files
*.txt
# Except read me I will be added
!README.txt

# Exclude log files
*.log

# Exclude Fonts -- everything in the / directory is ignored
_fonts/

